{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!DOCTYPE html>
<html>
<head>
    <link type="text/css" href="{% static "css/about.css" %}" rel="stylesheet">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
    body{
        background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)),   url("{% static 'images/tec1.jpeg' %}");
        background-size: cover;
        background-position: center;
    }
</style>
<body>
    <h1>Sobre Nosotros</h1>
    <h1><br></h1>
        <h2>MISIÓN</h2>
            <p>aqui va a ir la misión del proyecto</p>
    <h1><br></h1>
    <h1><br></h1>
        <h2>VISIÓN</h2>
            <p>Aqui va a ir la visión del proyecto</p>
    <h1><br></h1>
    <h1><br></h1>
        <h2>Propuesta de valor</h2>
            <p>El modelo de negocios es una herramienta que aporta una visión sistematizada del ciclo de negocio;<br> permite
planificar cómo es que las organizaciones generan beneficios, cuáles son estos beneficios, quienes <br>conforman el
mercado objetivo, cómo es que los productos o servicios se diferencian en el mercado, cuáles <br>son sus costos, sus
recursos y de qué manera se entrega valor a los clientes o usuarios.
La innovación tecnológica,<br> el diseño novedoso, la facilidad de uso y la accesibilidad son algunas de las ventajas
competitivas ante el mercado <br>al que nos presentamos, además de que los modelos de negocios son piezas claves
para el desarrollo y éxito de una idea, <br>lo cual nos ayuda en la economía y permite un mayor crecimiento de
emprendimiento, ya que hoy en día este último es una alternativa a los bajos salarios y demanda laboral que hay
en el país. Es importante que las organizaciones se mantengan vigentes en el mercado innovando en su modelo
de negocios, haciendo cambios que les permitan ingresar a nuevos mercados, generando nuevas fuentes de
ingreso, haciéndolas más eficientes</p>
    <img class="u-image u-image-circle u-image-1" src="{% static 'images/tec1.jpeg' %}" alt="" data-image-width="768" data-image-height="479" style="max-width: 45%">
</body>
</html>
{% endblock %}