{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!DOCTYPE html>
<html>
<head>
    <link type="text/css" href="{% static "css/about.css" %}" rel="stylesheet">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
    body{
        background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)),   url("{% static 'images/tec1.jpeg' %}");
        background-size: cover;
        background-position: center;
    }
</style>
<body>
    <h1>Sobre Nosotros</h1>
    <h1><br></h1>
        <h2>Descripción de la innovación</h2>
            <p>La novedad de este proyecto es el diseño de un software con el uso de inteligencia artificial para simplificar el
proceso de creación de modelos de negocio, lo que reduce costos y tiempo. Esta herramienta es accesible para
personas sin conocimientos especializados, lo que fomenta el emprendimiento y la creación de empleos.
Sabemos que generar un modelo de negocios puede ser muy costoso y complejo tanto para las empresas como
para los estudiantes, sin embargo, para una empresa sino lo realiza de manera correcta es posible que la idea del
negocio fracase. Al reducir costos y que sea de una manera mas sencilla podemos lograr una buena planeación de
nuestra idea lo que nos lleve al éxito de esta y tener mayores oportunidades dentro del sector laboral.
La aplicación de esta propuesta se contextualiza en el desarrollo tecnológico de una innovación tecnológica
radical. El uso de inteligencia artificial para la creación de modelos de negocio es un cambio significativo en la
forma en que se han creado históricamente estos modelos y al utilizar tecnología de vanguardia para abordar un
problema empresarial común, se puede lograr una ventaja competitiva significativa para las empresas y proyectos
estudiantiles que utilicen esta herramienta.</p>
    <h1><br></h1>
    <h1><br></h1>
        <h2>Viabilidad tecnica</h2>
            <p>Para nuestra propuesta de proyecto se requieren los siguientes elementos:
Infraestructura: Contar con un servidor en la nube para alojar la plataforma y garantizar la disponibilidad del
servicio para los usuarios, de igual forma contar con una red de alta velocidad y capacidad para garantizar una
experiencia de usuario fluida.
Tecnología: la principal fuente de tecnología que utilizaremos será la inteligencia artificial, específicamente la de
aprendizaje automático para el análisis de datos y la generación de modelos de negocio, será necesario contar con
herramientas de programación y desarrollo de softwares.
Procesos: Definir y diseñar los procesos de desarrollo, mantenimiento del software, atención al cliente y soporte
técnico.
Personal: Contar con un equipo de programadores con experiencia en inteligencia artificial y aprendizaje
automático, personal de soporte técnico y gestores.
Proveedores: Se requiere del proveedor que proporciona el servidor para realizar la plataforma.
Tecnologías disruptivas de la Industria 4.0: La implementación de tecnologías disruptivas como la inteligencia
artificial y el aprendizaje automático son elementos clave para el desarrollo de nuestra propuesta y su
posicionamiento en el mercado.
Desarrollar una plataforma virtual para la construcción de modelos de negocio para empresas (PYMES) a través
del uso de <br>inteligencia artificial simplificando el proceso de creación y reduciendo costos con la finalidad de que
permita al<br> emprendedor generar ideas y evaluar la viabilidad de su propuesta de negocio.
Página</p>
    <h1><br></h1>
    <h1><br></h1>
        <h2>Propuesta de valor</h2>
            <p>El modelo de negocios es una herramienta que aporta una visión sistematizada del ciclo de negocio;<br> permite
planificar cómo es que las organizaciones generan beneficios, cuáles son estos beneficios, quienes <br>conforman el
mercado objetivo, cómo es que los productos o servicios se diferencian en el mercado, cuáles <br>son sus costos, sus
recursos y de qué manera se entrega valor a los clientes o usuarios.
La innovación tecnológica,<br> el diseño novedoso, la facilidad de uso y la accesibilidad son algunas de las ventajas
competitivas ante el mercado <br>al que nos presentamos, además de que los modelos de negocios son piezas claves
para el desarrollo y éxito de una idea, <br>lo cual nos ayuda en la economía y permite un mayor crecimiento de
emprendimiento, ya que hoy en día este último es una alternativa a los bajos salarios y demanda laboral que hay
en el país. Es importante que las organizaciones se mantengan vigentes en el mercado innovando en su modelo
de negocios, haciendo cambios que les permitan ingresar a nuevos mercados, generando nuevas fuentes de
ingreso, haciéndolas más eficientes</p>
    <img class="u-image u-image-circle u-image-1" src="{% static 'images/tec1.jpeg' %}" alt="" data-image-width="768" data-image-height="479" style="max-width: 45%">
</body>
</html>
{% endblock %}