{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>

        <link type="text/css" href="{% static "css/canvas.css" %}" rel="stylesheet">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body{
                background-color: #09091e;
            }
            th{
                border: 3px solid white;
            }
            td{
                border: 3px solid white;
            }
            .container{
                background-color: white;
            }
            .col{
                background-color: white;
                border: solid #12d0f3;
                color: black;
            }
            .encabezado{
                background-color: white;
                color: #002aff;
                font-size: x-large;
            }
            .p1{
                color: black;
            }
        </style>

    </head>
    <body>
        <div>
            <p class="space">"Mfeni" Marca Registrada </p>
        </div>
        <div>
            <h2><br></h2>
            <h1 class="logo">{{ nombre }}</h1>
        </div>
        <div class="container">
            <div class="col">
                <h2 class="encabezado">Socios Clave</h2>
                <ul>
                    <li>
                        <p class="p1">{{ respuestas_canvas.6 }}</p>
                        <img src="{{ image.8 }}" alt="Imagen generada por DALL-E" width="128" height="128">
                        <img src="{{ image.9 }}" alt="Imagen generada por DALL-E" width="128" height="128">
                    </li>
                </ul>
            </div>
            <div class="col">
                <h2 class="encabezado">Actividades Clave</h2>
                <ul>
                    <li>
                        <p class="p1">{{ respuestas_canvas.5 }}</p>
                        <img src="{{ image.7 }}" alt="Imagen generada por DALL-E" width="128" height="128">
                    </li>
                <h2 class="encabezado">Recursos Clave</h2>
                    <li>
                         <p class="p1">{{ respuestas_canvas.4 }}</p>
                         <img src="{{ image.0 }}" alt="Imagen generada por DALL-E" width="128" height="128">
                    </li>
                </ul>
            </div>
            <div class="col">
                <h2 class="encabezado">Propuesta de valor</h2>
                <ul>
                    <li>
                        <p class="p1">{{ respuestas_canvas.1 }}</p>
                        <img src="{{ image.2 }}" alt="Imagen generada por DALL-E" width="128" height="128">
                        <img src="{{ image.3 }}" alt="Imagen generada por DALL-E" width="128" height="128">
                    </li>

                </ul>

            </div>
            <div class="col">
                <h2 class="encabezado">Relaciones con Clientes</h2>
                <ul>
                    <li>
                        <p class="p1">{{ respuestas_canvas.3 }}</p>
                        <img src="{{ image.5 }}" alt="Imagen generada por DALL-E" width="128" height="128">
                    </li>
                <h2 class="encabezado">Canales</h2>
                    <li>
                        <p class="p1">{{ respuestas_canvas.2 }}</p>
                        <img src="{{ image.4 }}" alt="Imagen generada por DALL-E" width="128" height="128">
                    </li>
                </ul>
            </div>
            <div class="col">
                <h2 class="encabezado">Segmento de Cliente</h2>
                <ul>
                    <li>
                        <p class="p1">{{ respuestas_canvas.0 }}</p>
                         <img src="{{ image.0 }}" alt="Imagen generada por DALL-E" width="128" height="128">
                         <img src="{{ image.1 }}" alt="Imagen generada por DALL-E" width="128" height="128">
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="col">
                <h2 class="encabezado">Estructura de Costes</h2>
                <p>Considerando una inversion inicial de: </p>
                <p>${{ Presupuesto_inversion }}</p>
                <table>
                    <tr>
                        <th>Presentacion</th>
                        <th>Costos</th>
                    </tr>
                    <tr>
                        <td>{{ formatted_content|linebreaksbr|safe }}</td>
                        <td>{{ formatted_content_costos_str|linebreaksbr|safe }}</td>
                    </tr>
                </table>
            </div>


            <div class="col">
                <h2 class="encabezado">Flujo de Ingresos</h2>
                <table>
                    <tr>
                        <th>Presentación</th>
                        <th>Precio Venta</th>
                    </tr>
                    <tr>
                        <th>{{ formatted_content|linebreaksbr|safe }}</th>
                        <th>{{ formatted_content_venta_str|linebreaksbr|safe }}</th>

                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>
{% endblock %}

