{% load static %}

h2{
    text-align: left;
    background-color:transparent;
    color: white;
}
h3{
    background-color: transparent;
}

h4{
    color: white;
    background-color: transparent;
}

head {
    background-color: #09091e;
}
